<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Socket chat</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<header id="banner">
    <h1>Socket Chat</h1>
</header>
<section id="chatroom">
    <div id="messages">
        <select id="target">
            <option value="broadcast">所有人</option>
            <% for(var i=0; i< others.length; i++) { %>
                <option value="<%= others[i].session_id %>"><%= others[i].name %></option>
            <% } %>
        </select>
        <input id="message" type="text" placeholder="输入你要发送的消息" />
        <input id="send" type="button" value="发 送" />
        <input id="clear" type="button" value="清 空" />
        <div id="board">
            <textarea id="messageBoard" readonly></textarea>
        </div>
    </div>
</section>
<footer>
    Hope you enjoy your stay here
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/client.js"></script>
</body>
</html>