<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Socket chat</title>
</head>
<body>
<header>
    <h1>Socket Chat</h1>
</header>
<div id="main">

</div>
<footer>
    footer
</footer>

<script src="/avalon/avalon.js"></script>
</body>
</html>